.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mian{
  display: flex;
  justify-content: center;
}

form{
  align-items: center;
  display: flex;
  justify-content: center;
}